#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > h1 {
  color: #776dff;
  margin-top: -5px;
}

#app > img {
  width: 64px;
}

h2 {
  align-self: flex-start;
  margin-top: 104px;
}

p {
  align-self: flex-start;
  text-align: justify;
  width: 512px;
}

#app .placeholder {
  color: #7c7c8a;
  user-select: none;
}
